# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.tree-view.full-menu': [
    {'type': 'separator'}
    {label: 'Chameleon Package Manager', command: 'atom-chameleon:gitCreatePackage'}
    {label: 'Install Chameleon Package', command: 'atom-chameleon:installChameleonPackage'}
    {'type': 'separator'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Chameleon'
      'submenu': [
        {
          'label': 'Create Project',
          'command': 'atom-chameleon:create-project'
        }
        {
          'label': 'Framework Install/Upgrade'
          'command': 'atom-chameleon:install'
        }
        {
          'label': 'Start Debug Server'
          'command': 'atom-chameleon:run-on-server'
        }
        {
          'label': 'Launch Emulator'
          'command': 'atom-chameleon:emulator'
        }
        {
          'label': 'Package'
          'command': 'atom-chameleon:list-package'
        }
      ]
    ]
  }
  {
    'label': 'Chameleon'
    'submenu': [
      {
        'label': 'New'
        'submenu': [
          {
            'label': 'Project...'
            'command': 'atom-chameleon:create-project'
          }
          {
            'label': 'Package...'
            'command': 'atom-chameleon:create-package'
          }
          {
            'label': 'File...'
            'command': 'atom-chameleon:create-file'
          }
        ]
      }
      {
        'label': 'Product'
        'submenu': [
          {
            'label': 'Run on debug server'
            'command': 'atom-chameleon:run-on-server'
          }
          {
            'label': 'Launch Emulator'
            'command': 'atom-chameleon:emulator'
          }
          {
            'label': 'Debug Emulator'
            'command': 'atom-chameleon:debug-emulator'
          }
          {
            'label': 'Install/Upgrade Butterfly.js'
            'command': 'atom-chameleon:install'
          }
        ]
      }
      {
        'label': 'Publish'
        'submenu': [
          {
            'label': 'Mobile Application'
            'command': 'atom-chameleon:publish-application'
          }
          {
            'label': 'Package'
            'command': 'atom-chameleon:publish-package'
          }
        ]
      }
      {
        'label': 'Organizer'
        'submenu': [
          {
            'label': 'Build List'
            'command': 'atom-chameleon:build-list'
          }
          {
            'label': 'Chameleon Center',
            'command': 'atom-chameleon:package-center'
          }
        ]
      }
      {
        'label': 'Settings'
        'command': 'atom-chameleon:settings'
      }
    ]
  }
]
