#ios-build-view {
  .icon {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border: 3px dashed gray;
  }
}
#android-build-view {
  .icon {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border: 3px dashed gray;
  }
}
