@import "ui-variables";

.optional-radio {
  padding-top: 5px; padding-bottom: 5px;
}

select.gitCreatePackageSelect {
  width: 350px;
  position: relative;
  left: 50px;
}

.radioLabel {
  position: relative;
  left: 10px;
}

.resultViewUrlPath {
  font-size: 150%;
  word-break: break-all;
}

.editorViewResultView {
  width: 445px;
  float: left;
}
button.btn.btnResultView {
  float: left;
}

label.labelTitle {
  font-size: large;
}

label.labelDeputyTitle {
  position: relative;
  left: 10px;
}
